.container-loader {

    display: flex;
    width: 100%;
    height: 100vh; 
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loader {

    animation: loader-animation 3s;
    
}

@keyframes loader-animation {
    0% {

        margin-right: 200px;

    }

    30% {
        opacity: 0.7;
    }

    100% {

        opacity: 0;

    }
}