.container-sponsorBlock {
    font-family: sf-pro;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 50px;

    justify-content: center;

    background: #06B3A81A;
}

.sponsors-title {
    margin-bottom: 25px;
}

.sponsor-logo-image {
    animation: sponsor-logo-image--animation 2s;
}

@keyframes sponsor-logo-image--animation {
    0% {
        margin-left: -1000px;
        opacity: 0.3;
    }

    100% {


    }
}

@media (max-width: 430px) {
    .sponsorBlock {
        display: none;
    }
}